# Data Cleaning

##  Goals

- Create a Dataframe for the first 3 Quarters
- Column for Home and Away Team

In [1]:
import pandas as pd
import numpy as np

In [2]:
NBA_1st = pd.read_csv("data/NBA_1st.csv")
NBA_2nd = pd.read_csv("data/NBA_2nd.csv")
NBA_3rd = pd.read_csv("data/NBA_3rd.csv")
NBA_4th = pd.read_csv("data/NBA_4th.csv")

### Create a Dataframe for the first 3 Quarters

Dataset feature names:

In [3]:
print(NBA_1st.columns.tolist())

['TEAM', 'MATCH UP', 'GAME DATE', 'W/L', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-']

- Transform string "Game Date" into DateTime
- Sort values because we want each quarter of a game at the same index number

In [4]:
NBA_1st["GAME DATE"] = pd.to_datetime(NBA_1st["GAME DATE"])
NBA_1st = NBA_1st.sort_values(by = ['GAME DATE',"TEAM"], ascending = False).reset_index(drop = True)

NBA_2nd["GAME DATE"] = pd.to_datetime(NBA_2nd["GAME DATE"])
NBA_2nd = NBA_2nd.sort_values(by = ["GAME DATE","TEAM"], ascending = False).reset_index(drop = True)

NBA_3rd["GAME DATE"] = pd.to_datetime(NBA_3rd["GAME DATE"])
NBA_3rd = NBA_3rd.sort_values(by = ["GAME DATE","TEAM"], ascending = False).reset_index(drop = True)

NBA_4th["GAME DATE"] = pd.to_datetime(NBA_4th["GAME DATE"])
NBA_4th = NBA_4th.sort_values(by = ["GAME DATE","TEAM"], ascending = False).reset_index(drop = True)

In [5]:
NBA_1st.head()

,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,WAS,WAS @ BOS,2024-04-14,L,12,30,12,25,48.0,3,...,100.0,1,9,10,7,3,0,1,6,-4
1,UTA,UTA @ GSW,2024-04-14,L,12,27,12,21,57.1,1,...,100.0,3,6,9,5,5,1,1,4,-6
2,TOR,TOR @ MIA,2024-04-14,L,12,24,8,19,42.1,0,...,80.0,1,9,10,6,4,2,0,6,0
3,SAS,SAS vs. DET,2024-04-14,W,12,29,12,24,50.0,4,...,50.0,4,10,14,8,4,3,1,4,6
4,SAC,SAC vs. POR,2024-04-14,W,12,30,11,18,61.1,3,...,71.4,0,10,10,8,5,5,1,5,12

Check if rows have the same order

In [6]:
(NBA_4th.TEAM == NBA_1st.TEAM).unique()

array([ True])

In [7]:
NBA_2nd.columns

Index(['TEAM', 'MATCH UP', 'GAME DATE', 'W/L', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
       'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-'],
      dtype='object')

In [8]:
total_stats = ['MIN', 'PTS', 'FGM', 'FGA','3PM', '3PA','FTM', 'FTA','OREB', 'DREB',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-']

first_3 = NBA_1st

for stat in total_stats:
    first_3[stat] = NBA_1st[stat] + NBA_2nd[stat] + NBA_3rd[stat]

Create the percentages manually

In [9]:
first_3["FG%"] = first_3["FGM"] / first_3["FGA"]
first_3["3P%"] = first_3["3PM"] / first_3["3PA"]
first_3["FT%"] = first_3["FTM"] / first_3["FTA"]

In [10]:
first_3.head()

,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,WAS,WAS @ BOS,2024-04-14,L,36,89,35,76,0.460526,11,...,1.000000,7,20,27,24,10,3,2,11,-18
1,UTA,UTA @ GSW,2024-04-14,L,36,89,35,66,0.530303,11,...,0.571429,10,26,36,17,14,5,4,12,-6
2,TOR,TOR @ MIA,2024-04-14,L,36,71,28,66,0.424242,5,...,0.769231,10,16,26,16,16,4,3,17,-23
3,SAS,SAS vs. DET,2024-04-14,W,36,93,37,71,0.521127,13,...,0.750000,10,36,46,26,12,8,2,11,30
4,SAC,SAC vs. POR,2024-04-14,W,36,99,34,65,0.523077,13,...,0.857143,9,29,38,25,9,9,5,11,41

In [11]:
(first_3.TEAM == NBA_2nd.TEAM).unique()

array([ True])

### Column for Home and Away Team

- If "Match Up" contain a "@" the first named team played an away game
- 1 are the home teams 
- 0 are the away teams

In [12]:
first_3["COURT"] = first_3["MATCH UP"].str.contains('@')
first_3["COURT"] = np.where(first_3["COURT"] == True,0,1)

In [13]:
NBA_4th["COURT"] = NBA_4th["MATCH UP"].str.contains('@')
NBA_4th["COURT"] = np.where(NBA_4th["COURT"] == True,0,1)

In [14]:
first_3.head(10)

,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,COURT
0,WAS,WAS @ BOS,2024-04-14,L,36,89,35,76,0.460526,11,...,7,20,27,24,10,3,2,11,-18,0
1,UTA,UTA @ GSW,2024-04-14,L,36,89,35,66,0.530303,11,...,10,26,36,17,14,5,4,12,-6,0
2,TOR,TOR @ MIA,2024-04-14,L,36,71,28,66,0.424242,5,...,10,16,26,16,16,4,3,17,-23,0
3,SAS,SAS vs. DET,2024-04-14,W,36,93,37,71,0.521127,13,...,10,36,46,26,12,8,2,11,30,1
4,SAC,SAC vs. POR,2024-04-14,W,36,99,34,65,0.523077,13,...,9,29,38,25,9,9,5,11,41,1
5,POR,POR @ SAC,2024-04-14,L,36,58,23,74,0.310811,4,...,17,22,39,13,13,8,1,14,-41,0
6,PHX,PHX @ MIN,2024-04-14,W,36,89,33,65,0.507692,11,...,10,12,22,19,10,11,3,21,11,0
7,PHI,PHI vs. BKN,2024-04-14,W,36,81,30,72,0.416667,12,...,8,32,40,22,7,5,6,11,17,1
8,ORL,ORL vs. MIL,2024-04-14,W,36,80,31,67,0.462687,6,...,5,27,32,19,9,6,4,14,9,1
9,OKC,OKC vs. DAL,2024-04-14,W,36,108,43,76,0.565789,9,...,10,39,49,29,10,5,4,14,51,1

In [15]:
NBA_4th.head()

,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,COURT
0,WAS,WAS @ BOS,2024-04-14,L,12,33,14,27,51.9,3,...,1,8,9,9,2,6,2,5,8,0
1,UTA,UTA @ GSW,2024-04-14,L,12,27,11,23,47.8,3,...,4,8,12,5,6,1,1,8,-1,0
2,TOR,TOR @ MIA,2024-04-14,L,12,32,10,24,41.7,4,...,3,12,15,7,3,2,0,4,8,0
3,SAS,SAS vs. DET,2024-04-14,W,12,30,12,20,60.0,2,...,2,6,8,7,2,1,1,6,-2,1
4,SAC,SAC vs. POR,2024-04-14,W,12,22,9,22,40.9,0,...,4,9,13,4,5,2,1,8,-2,1

In [16]:
first_3.to_csv("data/first_3_clean.csv", index = False)
NBA_4th.to_csv("data/NBA_4th_clean.csv", index = False)